.contato {
    padding: 1.5em 3em 1.5em 1.5em;
    background-color: var(--header-fundo);
}

.contato__titulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.contato__texto {
    font-weight: 300;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 1.5em;
}

.contato__email {
    background-color: var(--header-fundo); 
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    display: flex;
    color: var(--azul);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../assets/Email.svg") no-repeat;
    padding-left: 2.5em;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        padding: 2em 9em;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
    }

    .contato__descricao {
        display: flex;
        flex-direction: column;
    }

    .contato__titulo {
        font-size: 1.5rem;
        padding: 0.5em 0em;
    }

    .contato__email {
        height: 1rem;
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 2em 26vw;
        gap: 2rem;
    }

    .contato__email {
        width: 40%;
    }

    .contato__texto {
        width: 20vw;
    }
}